body{
  height:100vh;
  width: 100%;
}

header,
footer{
height: 10vh;
color: white;
background-color: black;
}

main{
  background-image: url("https://raw.githubusercontent.com/rolling-scopes-school/stage1-tasks/christmas-task/assets/bg.jpg");
}

.content-container{
 display:flex;
 height: 5000px;
 background-image: url("https://raw.githubusercontent.com/rolling-scopes-school/stage1-tasks/christmas-task/assets/bg.jpg");
}

.filter.shape button[data-filter="шар"]{
  background-color: url("https://raw.githubusercontent.com/rolling-scopes-school/stage1-tasks/d3cbbbeb3207b1a90bdb2c1ba5bb27a6492744f5/assets/svg/ball.svg");
}

.filter.shape button[data-filter="колокольчик"]{
  background-color: url("https://raw.githubusercontent.com/rolling-scopes-school/stage1-tasks/d3cbbbeb3207b1a90bdb2c1ba5bb27a6492744f5/assets/svg/bell.svg");
}

.toys-container{
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  justify-content: space-between;
  overflow: hidden;
}

.toys-container img {
  display: block;
  width: 100px;
  height: 100px;
}

.toys-container .tape {
  border: 1px solid blue;
  background-color: blue;
  border-top-right-radius: 60%;
  border-bottom-right-radius: 60%;
  height: 4vh;
  width: 50%;
}

.header-container div {
  display: flex;
  justify-content: space-evenly;
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-out, width 0.5s ease 0.5s, height 0.5s ease 0.5s;
}

.active.hidden {
  opacity: 1;
}
